.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

main {
  max-width: 1200px; /* La largeur max du contenu Main */
  margin-inline: auto;
  padding-inline: 24px; /* Le "gutter" ou marge de sécurité sur les bords */
}
